<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Erreur{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <h1>Erreur</h1>
            <p>Une erreur est survenue</p>
        </div>
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </body>